@model TravelMate.Models.Userr

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<style>
    .styled-button {
        background-color: #3e3e45e8;
        border: none;
        color: white;
        padding: 15px 30px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 30px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    }

        .styled-button:hover {
            background-color: #2b84eb;
        }
</style>
<div style="width:99%;">

    <h1>EditProfile</h1>

    <h4>Userr</h4>
    <hr />
    <div class="row" style="margin-left: calc(0.5* var(--bs-gutter-x));">
        <div class="col-md-4">
            <form asp-action="EditProfile" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />
                <div class="form-group">
                    <label asp-for="Fname" class="control-label"></label>
                    <input asp-for="Fname" class="form-control" required border="1" />
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lname" class="control-label"></label>
                    <input asp-for="Lname" class="form-control" required />
                    <span asp-validation-for="Lname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" required />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Emale" class="control-label"></label>
                    <input asp-for="Emale" class="form-control" type="email" required />
                    <span asp-validation-for="Emale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" accept="Image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label for="userName"><i class="zmdi zmdi-email"></i></label>
                    <input type="text" name="userName" id="userName" class="form-control" placeholder="User Name" required />
                </div>
                <br />
                <div class="form-group">
                    <label for="password"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
                </div><br />
                <div class="form-group">
                    <input type="submit" value="Save" class="styled-button" />
                    <a class="styled-button" asp-controller="Admin" asp-action="Profile">Back </a>
                </div>
            </form>
        </div>
    </div>


</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@